<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @meal.dish %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @meal.shop.name %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
